
@model List<Model.EF.Menu>

<div class="menu">
    <ul>
        @foreach (var item in Model)
        {
           <li><a href="@item.Link" target="@item.Target" title="@item.Text">@item.Text</a></li>
        }
      
    </ul>
</div>
